:root {
  --primary: #FF3131;
  --secondary: #1E1E24;
  --success: #06A77D;
  --error: #D62828;
  --warning: #F77F00;
  --neutral: #EEEEEE;
  --dark: #222222;
  --white: #FFFFFF;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}